@tailwind base;
@tailwind components;
@tailwind utilities;

/* Original Config */
/* @layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
} */

/* PluxNet Config */
/* RealTimeColours - https://www.realtimecolors.com/?colors=ffffff-242b6a-ad0567-623394-f7b5ab&fonts=Montserrat-Inter */
@layer base {
  :root {
    --background: 234 49% 72%;
    --foreground: 0 0% 0%;
    --card: 234 49% 72%;
    --card-foreground: 0 0% 0%;
    --popover: 234 49% 72%;
    --popover-foreground: 0 0% 0%;
    --primary: 325 94% 65%;
    --primary-foreground: 0 0% 0%;
    --secondary: 269 49% 61%;
    --secondary-foreground: 0 0% 0%;
    --muted: 234 49% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 8 83% 18%;
    --accent-foreground: 234 49% 72%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 0%;
    --border: 234 49% 20%;
    --input: 234 49% 20%;
    --ring: 8 83% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 234 49% 28%;
    --foreground: 0 0% 100%;
    --card: 234, 48%, 25%;
    --card-foreground: 0 0% 100%;
    --popover: 234 49% 28%;
    --popover-foreground: 0 0% 100%;
    --primary: 325 94% 35%;
    --primary-foreground: 0 0% 100%;
    --secondary: 269 49% 39%;
    --secondary-foreground: 0 0% 100%;
    --muted: 234 49% 80%;
    --muted-foreground: 0 0% 100%;
    --accent: 8 83% 82%;
    --accent-foreground: 234 49% 28%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 234 49% 60%;
    --input: 234 49% 80%;
    --ring: 8 83% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
